*{





    margin: 0;





    padding: 0;





    box-sizing: border-box;





}















html{

    overflow-x:hidden;

}



body{





    background:#050505;





    color:white;





    font-family:'Poppins',sans-serif;

    overflow-x:hidden;





}













.top-logo{





    display: flex;





    justify-content: center;





    padding: 18px 0 8px 0;





}







